- model_class = PenaltyRule
.penalty_rules
  .content_top
    .primary_heading
      h1
        = t '.title', :default => model_class.model_name.human.pluralize.titleize
    .primary_btn
      = link_to (content_tag(:span, t("header.links.penalty_rules.new"))), new_penalty_rule_path, :class => 'btn_large'

  .content_middle
    .grid_control
      .grid_table
        table.table.table_listing.client_listing cellpadding="0" cellspacing="0" class=("#{ I18n.locale}")
          colgroup
            col.one
            col.two
            col.three
            col.four
            col.five
            col.six
            col.seven
          thead#penalty_rule_head
            = render partial: 'penalty_rule_header'
          tbody#penalty_rule_body
            = render partial: 'penalty_rule_body'

          tfoot#paging_links
      /= render 'application_partials/paging'
      .content_bottom
        = link_to (content_tag(:span, t("header.links.penalty_rules.new"))), new_penalty_rule_path, :class => 'btn_large'
