.term_rule
  = form_for(@term_rule) do |f|
    .content_middle
      - if @term_rule.errors.any?
        #error_explanation
          h2 = pluralize(@term_rule.errors.count, "error")
          | prohibited this term rule from being saved:
          ul
            - @term_rule.errors.full_messages.each do |message|
            li = message

      .fields_content_container
        .fields_content_data
          .field_row
            .label_field.left.single = t('views.term_rules.name')
            .large_field
              = f.text_field :name

          .field_row
            .label_field.left.single = t('views.term_rules.description')
            .large_field
              = f.text_area :description
        .fields_content_data
          .field_row
            .label_field.left.single = t('views.term_rules.frequency')
            .large_field
              = f.select :frequency, TERM_FREQUENCY

          .field_row
            .label_field.left.single = t('views.term_rules.client_type')
            .large_field
              = f.select :client_type_id, options_for_select(ClientType.all.collect { |client_type| [client_type.title, client_type.id] }, @term_rule.client_type_id)

      .content_bottom
        = f.submit class: 'btn_large submit'
